APP_HOST=http://localhost
APP_PORT=3000

DB_HOST=127.0.0.1
DB_PORT=1539
DB_USERNAME=root
DB_PASSWORD=root
DB_SID=FREEPDB1

DB_USERNAME_AUTH=auth
DB_PASSWORD_AUTH=root
DB_USERNAME_MASTER_DATA=master_data
DB_PASSWORD_MASTER_DATA=root
DB_USERNAME_INVENTORY=inventory
DB_PASSWORD_INVENTORY=root
DB_USERNAME_TRANSACTION=transaction
DB_PASSWORD_TRANSACTION=root

